.Appbar {
    background-color: black;
    border-bottom: '1px solid rgba(0, 0, 0, 0.12)';
    box-shadow: none;
    padding-top: '5px';
    padding-bottom: '5px';
    

}


  .title {
    flex-grow: 1;
    align-items: 'center';
    display: 'flex';
    text-decoration: 'none';
    font-family: 'Roboto';
    color: #00DEC1;

  }


  .image {
    margin-right: '10px';
  }

  .menuButton {
    margin-right: '2px';

  }

  .grow {
    flex-grow: 1;
  }


  .toolBar {
    margin: "auto",

  }

  .menu {
    color: #00DEC1 !important;
  }
 .secondary {
   color: "#EC4EE2"
 }

 .background {
   background-color: black;
 }

 .dropdown {
   background-color: black !important;
   color: #EC4EE2 !important;
   font-family: 'Courier New', Courier, monospace;
   border: solid 3px;
   border-color: #00DEC1;
 }