.appHeader {
    color: yellowgreen !important;
    background-color: black;
    font-family: 'Kdam Thmor Pro', sans-serif !important;
}

.appSubtitle {
    color: yellowgreen !important;
    background-color: black;
    font-family: 'Finlandica', sans-serif !important;
}


.appListHeader {
    color: yellowgreen !important;
    margin: 15px !important; 
    font-family: 'Finlandica', sans-serif !important;
    
}

/* .card {
    margin-left: 500px !important;
    margin-right: 500px !important; 
    margin-top: 50px !important; 
} */